$pageWidth: var(--page-width);
$pageHeight: var(--page-height);
$margemSuperior: var(--page-margem-superior);
$margemDireita: var(--page-margem-direita);
$margemInferior: var(--page-margem-inferior);
$margemEsquerda: var(--page-margem-esquerda);
$stageWidth: var(--stage-width);
$stageHeight: var(--stage-height);
$backgroundURI: var(--page-background-uri);

:host ::ng-deep {
    --tool-bar-height: 40px;
    --settings-width: 400px;
    --settings-margin: 6px;


    &>.container {
        display: flex;
        box-sizing: border-box;
        height: 100%;
        max-width: fill-available;

        &>section {
            display: block;
            box-sizing: border-box;

            &.settings {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: var(--settings-width);
                padding: 0 8px;

                form,
                h2,
                h5 {
                    display: inline-block;
                    width: calc(100% - var(--settings-margin));
                }

                form {

                    mat-form-field,
                    mat-slide-toggle,
                    mat-radio-group {
                        width: 100%;

                        .mat-radio-button {
                            margin: 8px;
                        }
                    }

                    .pageSize,
                    .margem {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .mat-form-field {
                            // margin-left: 6px;
                            width: calc(50% - 8px);
                        }
                    }
                }

                @media print {
                    display: none;
                }

                .actions {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px;
                    width: 100%;

                    button {
                        flex-grow: 1;
                        margin: 8px;
                    }
                }
            }

            &.editor {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: calc(100% - var(--settings-width));
                max-height: stretch;

                .toolbar {
                    height: max-content;

                    @media print {
                        display: none;
                    }
                }

                .editor-container {
                    display: block;
                    height: calc(100% - var(--tool-bar-height));

                    @media screen {
                        border-left: 1px solid lightgray;
                        border-right: 1px solid lightgray;
                        border-bottom: 1px solid lightgray;
                        max-height: stretch;
                        overflow: auto;
                        background-color: lightgray;
                    }

                    .editor-background {
                        height: calc(#{$pageHeight} + 20px);
                        width: calc(#{$pageWidth} + 20px);
                        padding-top: 20px;
                        min-width: 100%;

                        @media print {
                            width: $pageWidth;
                            height: $pageHeight;
                        }


                        &>ckeditor.custom-editor {
                            display: block;
                            margin: 0 auto;
                            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
                            background-color: white;
                            border: none;
                            box-sizing: border-box;
                            height: calc(#{$pageHeight} + 0px);
                            width: calc(#{$pageWidth} + 0px);
                            background-image: $backgroundURI;
                            background-size: cover;

                            &>.ck.ck-content {
                                padding-top: $margemSuperior;
                                padding-right: $margemDireita;
                                padding-bottom: $margemInferior;
                                padding-left: $margemEsquerda;
                                border: none;
                                height: 100%;
                                overflow: hidden;

                                tmgap {
                                    border-bottom: 1px solid lightgray;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &>.overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(37, 34, 34, 0.333);
        transform: translateX(100vw);
        opacity: 0;
        transition: transform 0ms ease-in-out 300ms, opacity 300ms ease-in-out;

        .modal {
            background-color: white;
            padding: 8px;
            border-radius: 8px;
            width: 250px;
            margin-top: -200px;
            opacity: 0;
            transition: all 300ms;

            .header {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-weight: normal;
                    margin: 8px 0;
                }

                .close {
                    font-weight: bold;
                    cursor: pointer;
                }
            }

            form {
                display: flex;
                flex-direction: column;

                .button-row {
                    button {
                        margin: 8px;
                    }
                }
            }
        }

        &.open {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 300ms ease-in-out;

            .modal {
                margin: 0px;
                opacity: 1;
            }
        }
    }
}