:host ::ng-deep {
    display: flex;

    &,
    * {
        margin: 0;
        padding: 0;
    }


    section {
        display: block;
        height: 100vh;

        &.settings {
            width: 400px;
        }

        &.editor {
            flex: 1;
            background-color: lightgray;

            ckeditor {
                height: 100%;

                .ck.ck-content {
                    background-color: white;
                    margin: 50px;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}