<div class="container">
  <section class="settings">
    <h2>Documento</h2>
    <section>
      <h3>Configurações da pagina</h3>
      <form [formGroup]="documentForm">
        <mat-form-field>
          <mat-label>Tamanho da pagina</mat-label>
          <mat-select formControlName="pageType" (selectionChange)="onPageChange($event)" required>
            <mat-option *ngFor="let paper of papers" [value]="paper.label">
              {{paper.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <h5>Tamanho personalizado</h5>
        <div class="pageSize">
          <mat-form-field>
            <mat-label>Largura</mat-label>
            <input matInput formControlName="pageWidth">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Altura</mat-label>
            <input matInput formControlName="pageHeight">
          </mat-form-field>
        </div>
        <mat-radio-group formControlName='orientation' (change)='onOrientationChange($event)'>
          <mat-radio-button value='landscape'>Paisagem</mat-radio-button>
          <mat-radio-button value='portrait'>Retrato</mat-radio-button>
        </mat-radio-group>
        <h5>Plano de fundo</h5>
        <input id='page-background' formControlName="background" (change)='onChangeBg($event)' type="file">
      </form>
    </section>
  </section>
  <section class="editor">
    <div #toolbar class="toolbar"></div>
    <div class="editor-container">
      <div class="editor-background">
        <ckeditor class="custom-editor" name='document' [editor]='editorBuild' [config]='editorConfig'
          (ready)="onReady($event)">
        </ckeditor>
      </div>
    </div>
  </section>
</div>