@import './ckeditor';

:host ::ng-deep {
    --tool-bar-height: 80px;
    --settings-width: 400px;
    --settings-margin: 6px;


    &>.container {
        display: flex;
        box-sizing: border-box;
        height: 100%;
        max-width: fill-available;

        &>section {
            display: block;
            box-sizing: border-box;

            &.settings {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: var(--settings-width);
                padding: 0 8px;
                overflow: auto;

                form,
                h2,
                h5 {
                    display: inline-block;
                    width: calc(100% - var(--settings-margin));
                }

                form {

                    mat-form-field,
                    mat-slide-toggle,
                    mat-radio-group {
                        width: 100%;

                        .mat-radio-button {
                            margin: 8px;
                        }
                    }

                    .orientation {
                        mat-radio-group {
                            display: flex;
                            justify-content: space-evenly;
                            margin: 10px 0;
                        }
                    }

                    .pageSize,
                    .margem {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .mat-form-field {
                            // margin-left: 6px;
                            width: calc(50% - 8px);
                        }
                    }
                }

                .actions {
                    display: flex;
                    justify-content: space-between;
                    margin: 8px;
                    width: 100%;

                    button {
                        flex-grow: 1;
                        margin: 8px;
                    }
                }

                section {
                    &.background {
                        display: flex;
                        justify-content: space-evenly;
                    }
                }
            }

            &.editor {
                flex: 1;
                display: flex;
                flex-direction: column;
                max-width: calc(100% - var(--settings-width));
                max-height: stretch;

                .toolbar {
                    height: max-content;
                    @include toolbar();
                }

                .editor-container {
                    display: block;
                    position: relative;
                    height: calc(100% - var(--tool-bar-height));
                    border-left: 1px solid lightgray;
                    border-right: 1px solid lightgray;
                    border-bottom: 1px solid lightgray;
                    max-height: stretch;
                    overflow: auto;
                    background-color: lightgray;

                    .editor-background {
                        height: $stageHeight;
                        width: $stageWidth;
                        padding-top: 20px;
                        min-width: 100%;

                        .preview {
                            display: none;
                            position: fixed;
                            width: 100vw;
                            height: 100vh;
                            overflow: auto;
                            background-color: rgba(#FFF, 0.7);
                            top: 0;
                            left: 0;
                            padding: 40px;
                            box-sizing: border-box;
                            z-index: 1000;

                            .close {
                                position: fixed;
                                top: 40px;
                                right: 40px;
                                cursor: pointer;
                            }
                        }

                        @include ckeditor();
                    }
                }

                &.show-preview {
                    .toolbar {
                        // display: none;
                    }

                    .editor-container {
                        .editor-background {
                            ckeditor.custom-editor {
                                display: none;
                            }

                            .preview {
                                display: flex;
                            }
                        }

                    }
                }
            }
        }
    }

    &>.overlay {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(37, 34, 34, 0.333);
        transform: translateX(100vw);
        opacity: 0;
        transition: transform 0ms ease-in-out 300ms, opacity 300ms ease-in-out;

        .modal {
            background-color: white;
            padding: 16px;
            border-radius: 8px;
            // width: 300px;
            margin-top: -200px;
            opacity: 0;
            transition: all 300ms;

            .header {
                display: flex;
                justify-content: space-between;

                h3 {
                    font-weight: normal;
                    margin: 8px 0;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                width: 300px;

                .fields {
                    display: flex;
                    flex-direction: column;

                    .mat-slide-toggle {
                        margin: 8px 0;
                    }
                }

                .button-row {
                    button {
                        margin: 8px;
                    }
                }
            }
        }

        &.open {
            opacity: 1;
            transform: translateX(0);
            transition: opacity 300ms ease-in-out;

            .modal {
                margin: 0px;
                opacity: 1;
            }
        }
    }
}